<!-- templates/playlist_show.html -->
{% extends 'base.html' %}

{% block content %}
<!-- <a href="/">Back to Home</a> This is on the navbar now -->
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{playlist.title}}</h1>
        {% if playlist.created_at %}
        <p class="text-muted">Created on: {{ playlist.created_at.strftime('%A, %d, %B, %Y') }}
            at {{ playlist.created_at.strftime('%I:%M %p') }}</p>
        {% endif %}
        <h4>{{playlist.description}}</h4>
        {% if playlist.get('videos') %}
            {% for video in playlist.videos %}
                <iframe width="420" height="315" src='{{ video }}'></iframe>
            {% endfor %}
        {% endif %}
        <p><a href="/playlist/{{playlist._id}}/edit">Edit</a></p>
        <!-- Delete Button -->
        <p><form method="POST" action="/playlist/{{ playlist._id }}/delete">
            <!-- pure HTML version <button type="submit">Delete</button>-->
            <input type = "hidden" name="_method" value="DELETE">
            <button class = "btn btn-primary" type="submit">Delete</button>
        </form></p>
        </br>
        <!-- Comment Form -->
        {% include 'partials/comment_form.html' %}
        <hr>
        <!-- Show Comments -->
        {% for comment in comments %}
            {% include 'partials/comment.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}